%h1= "#{@gym.name} Employees"

%table
  %tr
    %th Email
    %th Role
  = render partial: 'table_row', collection: @gym.employments, as: :employment

%h2 Add New Employee
= form_for [:gym, @employment], remote: true do |f|
  = render partial: 'shared/error_messages', locals: {target: @employment}

  = f.label :email, "Employee's Email"
  = f.email_field :email

  = f.label :role_name, 'Role'
  = f.select :role_name, Employment::ROLES, include_blank: true

  = f.submit 'Add'
