%section#current_section{ data: { section_id: section.id } }
  %h2= section.name

  #climbs
    - section.climbs.active.includes(:grade).each do |climb|
      - if current_user.current_role == 'athlete'
        = button_to_log_climb(climb)
      - else
        = button_to_log_climb(climb, disabled: true, class: 'no-interraction')

  - if policy(Climb.new(section: section)).create?
    = link_to 'Add Climb',
              new_section_climb_path(section),
              remote: true,
              class: 'new-climb-link'

  - if policy(section).reset?
    = button_to 'Reset Section',
                section_reset_path(section),
                id: 'reset',
                remote: 'true'
