%header.navigation{ role: 'banner' }
  .navigation-wrapper
    = link_to root_path, class: 'logo' do
      = fa_icon 'line-chart'
    = link_to 'MENU', '#', id: 'navbar_menu_button'
    %nav{ role: 'navigation' }
      %ul.show#navbar-main-menu
        %li.nav-link
          = link_to 'Gyms', gyms_path
        - if user_signed_in?
          %li.nav-link#sign_out
            = link_to 'Sign Out', destroy_user_session_path, method: :delete
